.model-x-intro {
    height: 100vh;
    background: url("../img/model-x.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
}

.model-x-intro .heading {
    padding-bottom: 350px;
    text-align: center;
}

.model-x-intro .heading h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    line-height: 1.6em;
    color: #000;
}

.model-x-intro .heading p {
    margin: 0;
    font-size: 25px;
    color: #000;
    font-family: 'Exo 2', sans-serif;
}

.plaid {
    width: 100%;
}

.plaid-img {
    width: 100%;
    height: 80vh;
    background: url("../img/model-x-plaid.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.util {
    width: 100%;
}

.util-img {
    width: 100%;
    height: 80vh;
    background: url("../img/model-x-util.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}


.model-x-wrap {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.panel3 {
    will-change: transform;
}